@media (max-width: 900px){
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .weather{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}