* {
    box-sizing: border-box;
}

body {
    margin: auto;
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    background-color: darkgray;
}

body * {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
}

.without-weather {
    margin-bottom: 20px;
}

.weather h2 {
    font-weight: 700;
    font-size: 30px;
}

.weather article {
    display: flex;
    font-size: 50px;
    font-weight: 900;
}

.other-conditions {
    font-size: 20px;
    font-weight: 900;
    margin-right: 15px
}

.other-conditions p:first-child {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}


.search button {

    width: 100px;
}

.search h2 {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}